Source: python-bgapi
Priority: optional
Maintainer: Jiri Pinkava <j-pi@mindpax.me>
Build-Depends: debhelper (>= 9),
 dh-python,
 python3-all (>= 3.4),
 python3-serial (>= 2.6),
 python3-setuptools
Standards-Version: 3.9.5
Section: libs
Homepage: http://mindpax.me

Package: python3-bgapi
Architecture: all
Depends: ${python:Depends}, ${misc:Depends}
Description: Blue Giga API Python interface
X-Python3-Version: >= 3.4
