Source: python-bgapi
Priority: optional
Maintainer: Jiri Pinkava <j-pi@mindpax.me>
Build-Depends: debhelper (>= 9), dh-python, python (>= 2.7), python-setuptools
Standards-Version: 3.9.5
Section: libs
Homepage: http://mindpax.me
#Vcs-Git: git://anonscm.debian.org/collab-maint/python-bgapi.git
#Vcs-Browser: http://anonscm.debian.org/?p=collab-maint/python-bgapi.git;a=summary

Package: python-bgapi
Architecture: all
Depends: ${python:Depends}, ${misc:Depends}
Description: Blue Giga API Python interface
X-Python-Version: >= 2.7
